In [1]:
import pandas as pd

In [39]:
stra1 = pd.read_csv('lstra_1_stocks.csv')
stra1.sort_values('ratio', ascending=False).head(10)

    Unnamed: 0      ratio    AvgGain  BattingAvg
99        SUNW  21.342798  99.835094        13.0
251       PLUG  15.056743  23.058140        16.0
47        IMGN   8.390010  11.232092        11.0
267        OPK   7.577925  15.529939         9.0
309        NIO   7.328846  12.277177        16.0
302        MGI   7.084984  12.048914        11.0
142       OTLK   6.593239  15.307527         9.0
220       ONTX   5.997166  20.612535         3.0
173       MCHI   5.987841   2.674493        11.0
124       GPRO   5.960493  10.986176         9.0

In [40]:
stra2 = pd.read_csv('lstra_2_stocks.csv')
stra2.sort_values('ratio', ascending=False).head(10)

    Unnamed: 0     ratio   AvgGain  BattingAvg
48        AYRO  4.064243  3.103346        12.0
238       BBBY  2.720196  3.120829         7.0
166       LVGO  2.633897  1.239363         7.0
73         MTP  2.395221  4.320091         5.0
60        ARPO  2.342547  3.000911         8.0
169       MBRX  2.312301  2.469015         8.0
11        FRSX  2.310148  3.314239         8.0
84        RIGL  2.239168  2.153689         9.0
139       XLNX  2.102899  2.042286         9.0
159       CREX  2.043966  3.282168         4.0

In [41]:
stra1 = pd.read_csv('lstra_3_stocks.csv')
stra1.sort_values('ratio', ascending=False).head(10)

    Unnamed: 0      ratio    AvgGain  BattingAvg
69         SHY  11.569692   0.009833         4.0
238       BBBY  10.191544  11.138921         8.0
99        SUNW   8.734416  23.214667        10.0
299        CAR   7.541859  18.949278         9.0
173       MCHI   6.144655   3.378737         8.0
7         MXIM   6.033214   4.406910         7.0
37          ZM   5.996207   6.563637         9.0
139       XLNX   5.476802   4.848719         9.0
259       IMMU   4.915182   0.447988        10.0
210       BNTX   4.752535  16.150459         9.0

In [42]:
stra4= pd.read_csv('lstra_4_stocks.csv')
stra4.head()

,Unnamed: 0,VG,CDNS,UONE,AVGO,ADBE,ALXN,LLNW,MXIM,ARCC,...,ZS,MGI,HOLX,IBM,T,DAL,J&J,GE,NIO,JKS
0,ratio,1.636746,2.236144,2.016295,1.076052,1.141699,0.507010,0.592813,1.799522,0.688884,...,1.398679,2.144404,1.005717,0.430025,0.899670,0.784810,-inf,1.576083,1.834025,4.640468
1,AvgGain,0.434286,0.878231,2.264194,0.172659,0.414541,0.261825,1.074612,0.410096,0.158773,...,0.509080,1.935671,0.377571,0.207337,0.211163,0.362403,0.0,0.517528,1.264965,4.854072
2,BattingAvg,29.000000,26.000000,19.000000,25.000000,20.000000,24.000000,25.000000,25.000000,32.000000,...,18.000000,21.000000,23.000000,25.000000,29.000000,25.000000,0.0,22.000000,19.000000,15.000000